<!---->
<div class="table-panel-content">
    <div class="table-panel-title  ">
        <p style="padding-left: 10px; font-size: 0.8rem;">RECENT ACTIVITY</p>
        
    </div>

    <div class="table-panel-body ">
        <table class="table table-light table-borderless" >
            <thead>
              <tr>   
                <th  class="text-center" scope="col">ID</th>
                <th scope="col" class="text-center">FIELD NAME</th>
                <th scope="col" class="text-center">POLLINATION TIME</th>
                <th scope="col" class="text-center">AVERAGE DAILY TEMP & UMIDITY</th>
                <th scope="col" class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">XYZ</td>
                <td class="text-center">takle prosem</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td class="text-center">></td>
              </tr>
              <tr>
                <td class="text-center">XYZ</td>
                <td class="text-center">Jacob Hadad</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td class="text-center">></td>
              </tr>
              <tr>
                <td  class="text-center">XYZ</td>
                <td class="text-center">Larry prosem</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td>></td>
              </tr>
              <tr>
                <td  class="text-center">XYZ</td>
                <td class="text-center">Mshe Hamed</td>
                <td class="text-center">24/12/20 - 10:44:02</td>
                <td class="text-center">34.2'C/45%</td>
                <td>></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
