<div class="map-panel-content">
    <div class="map-panel-title d-flex justify-content-between " >
        <p >RECENT POLLINATION AREA</p>
        <div class="map-icon" style="width: 25px; height: 20px; background-color: rgb(194, 194, 199); margin-top: 5px; margin-right: 10px;" >
                <i class="fa fa-cog fa-xs" style="font-size: 10px; position: relative; left: 8px; bottom: 5px;" aria-hidden="true"  ></i> 
        </div>
        
    </div>

    <div class="map-panel-body">
        <div class="map-imag" style="background-color: steelblue; ">map</div>

    </div>
</div>